.logo {
  @extend %flex-center;
  margin-top: 0;
  margin-bottom: 0;
  color: $prim-color-text;
  font-family: Josefin Sans, sans-serif;
  font-size: 24px;
  text-decoration: none;
  transition: color 250ms $timing;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
