%container {
  width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
%visually-hidden {
  position: fixed;
  transform: scale(0);
}
%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
%border {
  border-top: 1px solid $prim-color-text;
}
%flex-center {
  display: flex;
  align-items: center;
}
%current {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: $sec-color-bg;
  border-radius: 5px;
}
